.comparisons-row {
  display: flex;
  gap: 1rem;
}
.comparisons-row .comparison {
  flex: 0 0 calc((100% - 1rem) / 2);
  max-width: calc((100% - 1rem) / 2);
}

.comparison {
  position: relative;
  aspect-ratio: 1 / 1;
  overflow: hidden;
  --pct: 50%;
}
.comparison::after {
  content: '';
  position: absolute;
  top: 0; bottom: 0;
  left: var(--pct);
  transform: translateX(-50%);
  width: 4px;
  background: white;
  z-index: 3;
  pointer-events: none;
}

.comparison__figure {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-size: cover;
  margin: 0;
}

.comparison .label {
  position: absolute;
  top: 10px;
  padding: 4px 8px;
  background: rgba(0, 0, 0, 0.4);
  color: #fff;
  font-size: 0.8rem;
  border-radius: 4px;
  pointer-events: none;
  z-index: 3;

  box-sizing: border-box;
  white-space: nowrap;  
  overflow: hidden;  
  text-overflow: ellipsis;  
  max-width: calc(50% - 20px);
}
.comparison .label--left  { left: 10px;  }
.comparison .label--right { right: 10px; }


.comparison .divisor {
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-size: cover;
  background-position: center;
  box-shadow: 0 5px 10px -2px rgba(0,0,0,0.3);
  will-change: clip-path;
  clip-path: inset(0 50% 0 0);
}


.comparison .handle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  width: 50px;
  z-index: 2;
  pointer-events: none;
}
.comparison .handle::before,
.comparison .handle::after { 
  content: '';
  position: absolute;
  top: 50%;
  left: 38%;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  transform: translateY(-50%);
}
.comparison .handle::before {
  border-right-color: white;  
  transform: translateX(-12px) translateY(-50%);
}
.comparison .handle::after {
  border-left-color: white;
  transform: translateX(12px) translateY(-50%);
}

.comparison input.comparison-slider {
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  top: 50%; left: -25px;
  transform: translateY(-50%);
  width: calc(100% + 50px);
  background: transparent;
  z-index: 2;
}
.comparison input.comparison-slider:focus { outline: none; border: none; }
.comparison input.comparison-slider::-webkit-slider-thumb { 
  -webkit-appearance: none;
  border: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: transparent;
  border: 4px solid #fff;
  box-shadow: 0 0 8px 1px rgba(0,0,0,.3);
}
.comparison input.comparison-slider::-moz-range-track {
  -moz-appearance:none;
  height:15px;
  width: 100%;
  background-color: transparent; 
  position: relative;
  outline: none;     
}

.section-divider {
  border: none;
  border-top: 3px solid #666; 
  margin: 2rem 0;
  width: 100%;
  max-width: 800px;
}